.about {
    width: 100%;
    padding: 80px 40px 78px 40px;
    max-width: 744px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    align-items: center;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
            color: var(--clr-700, #643787);
            font-size: 2.25rem;
        }

        .nav {
            display: flex;
            gap: 20px;
            align-items: center;

            .dot {
                height: 2px;
                width: 2px;
                background-color: var(--clr-700);
                border-radius: 50%;
            }
        }

        .p {
            font-size: 1rem;;
            font-weight: 400;
            line-height: 160%;
            opacity: .9;
            text-align: justify;
        }
    }
    
    .img {
        width: 35.5%;
        height: auto;
        flex-shrink: 0;
    }
}

.category {
    cursor: pointer;
    color: var(--clr-700, #643787);
    font-size: 1.5rem;
    opacity: .66;
    position: relative;
    transition: .5s;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: var(--clr-700);
        transform: scaleX(0);
        transition: .5s;
    }

    &:hover {
        &::after {
            transform: scaleX(100%);
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 80px 40px 78px 40px;
    
        .wrapper {
            .nav {
                gap: 8px;
                align-items: flex-start;
                flex-direction: column;

                .dot {
                    display: none;
                }
            }
        }
    }    
}