.breathwork {
    padding: 80px 0px;
    background: linear-gradient(84deg, #AF60ED 0%, #643787 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .title {
        color: var(--clr-100);
        width: fit-content;
        font-size: 1.75rem;
        position: relative;
        margin: 8px 0px 32px 0px;

        &::after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: var(--clr-100);
        }
    }

    .ps {
        max-width: 744px;
        background-color: var(--clr-100);
        padding: 28px 24px;
        display: grid;
        gap: 12px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -40px;
            left: 12px;
            height: 54px;
            width: 54px;
            background-image: url(../assets/aspas.svg);
            transform: rotate(180deg);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -40px;
            right: 12px;
            height: 54px;
            width: 54px;
            background-image: url(../assets/aspas.svg);
        }

        .p {
            color: var(--clr-800);
            opacity: .95;
            text-align: center;
            font-size: 1.125rem;
            line-height: 160%;
            font-weight: 400;
        }

        .author {
            color: var(--clr-700, #643787);
            font-size: 1.125rem;
            font-style: italic;
            font-weight: 600;
            width: 100%;
            text-align: end;
            padding: 0px 64px;
        }
    }
}

.elipse {
    position: absolute;
    top: 380px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateX(220px);
    width: 550px;
    height: auto;
    mix-blend-mode: lighten;
    overflow: hidden;
}