.divider {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: var(--clr-700);
    border-radius: 50%;
}

.rline, .lline {
    width: calc(50% - 12.5px);
    height: 1px;
}

.rline {
    background: linear-gradient(90deg, #643787 0%, #AF60ED 100%);
}

.lline {
    background: linear-gradient(90deg, #AF60ED 0%, #643787 100%);
}

.ten {
    max-width: 936px;
}

.twelve {
    max-width: 1128px;
}

@media screen and (max-width: 1208px) {
    .rline {
        margin-right: 40px;
    }

    .lline {
        margin-left: 40px;
    }
}