.main {
    position: relative;
    padding: 144px 0px;
    z-index: 10;

    .bg {
        position: absolute;
        object-fit: cover;
        z-index: -3;
        border: 0;
    }

    .container {
        max-width: 936px;
        margin: 0 auto;
        display: grid;
        gap: 20px;
    }

    .title {
        max-width: 456px;
        font-size: 2rem;
        color: var(--clr-700, #643787);
    }

    .p {
        max-width: 456px;
        opacity: 0.8;
        color: var(--clr-800, #250A3A);
        font-size: 1.125rem;
        font-weight: 400;
    }

    .img {
        position: absolute;
        top: -140px;
        margin: auto;
        left: 0;
        right: 0;
        transform: translateX(220px);
        width: 100%;
        max-width: 550px;
        height: auto;
    }
}

@media screen and (max-width: 1208px) {
    .main {
        padding: 144px 96px;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 108px 40px 256px 40px;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        .title {
            text-align: center;
        }

        .p {
            text-align: center;
            font-size: 1.125rem;
        }
    
        .img {
            top: 240px;
            transform: translateX(0px);
            width: 100%;
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 640px) {
    .main {
        padding: 108px 40px 240px 40px;

        .title {
            font-size: 1.6rem;
            max-width: 360px;
        }

        .p {
            font-size: .9rem;
        }
    
        .img {
            top: 180px;
        }
    }
}

@media screen and (max-width: 491px) {
    .main {
        .img {
            top: 196px;
        }
    }
}

@media screen and (max-width: 465px) {
    .main {
        .img {
            top: 220px;
        }
    }
}