.testimonials {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: var(--clr-700);
        width: fit-content;
        font-size: 2rem;
        margin: 8px 0px 20px 0px;
    }

    .wrapper {
        width: calc(100% - 50px);
        max-width: 1128px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .img {
            width: 25%;
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: 1208px) {
    .testimonials {
        padding: 70px 40px;

        .wrapper {
            .img {
                width: 25%;
            }
        }
    }
}