.testimonials {
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: var(--clr-700);
        width: fit-content;
        font-size: 2rem;
        margin: 8px 0px 20px 0px;
    }

    .wrapper {
        width: 100%;
        max-width: 1128px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;

        .img {
            flex-basis: 264px;
            flex-grow: 1;
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: 640px) {
    .testimonials {
        padding: 38px 40px;

        .title {
            text-align: center;
            font-size: 1.6rem;
        }
    }    
}